.lichChieu {
  // padding: 0px 45px;
  // margin-top: 80px;
  padding-top: 4rem;

  .lichChieu__content {
    .lichChieu__LogoRap {
      border: 1px solid #dee2e6;
      // max-height: 550px;
      height: 550px;
      @include reponsiveMax("large") {
        padding-top: 7px;
        height: 80px;
        .nav {
          justify-content: center;
          .nav-link {
            .logoRap__item {
              border: none !important;
            }
          }
        }
      }
      .nav {
        padding: 0;
        .nav-link.active {
          background-color: transparent;
          opacity: 1;
        }
        .nav-link {
          border-radius: 0;
          opacity: 0.6;
          transition: all 0.5s;
          &:hover {
            opacity: 1;
          }
          .logoRap__item {
            text-align: center;
            padding-bottom: 10px;
            img {
              border-radius: 50%;
              width: 50px;
            }
          }
        }
      }
    }
    .lichChieu__Rap {
      border: 1px solid #dee2e6;
      max-height: 550px;
      overflow-y: auto;
      .rap__item.active {
        opacity: 1;
      }
      .rap__item {
        border-bottom: 1px solid #dee2e6;
        padding: 3px;
        opacity: 0.6;
        transition: all 0.5s;
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
        .rap__img {
          padding-top: 7px;
          padding-bottom: 7px;
          img {
            width: 50px;
          }
        }
        .rap__text {
          padding: 0;
          font-size: 11.5px;
          p {
            font-size: 13px;
            margin: 0;
            color: green;
            font-weight: bold;
            height: 1.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            .diaChiRap {
              color: #212530;
            }
          }
          span {
            color: rgb(102, 101, 101);
          }
          a {
            color: greenyellow;
            font-weight: bold;
            display: block;
            margin-top: 0.2rem;
          }
        }
      }
    }
    .lichChieu__Phim {
      border: 1px solid #dee2e6;
      max-height: 550px;
      height: 550px;
      overflow-y: auto;
      .lichChieu__item {
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 15px;
        .phim__item {
          padding-top: 10px;
          .phim__img {
            text-align: center;
            img {
              width: 50px;
              height: 50px;
              border-radius: 10px;
            }
          }
          .phim__thoiLuong {
            padding: 0;
            p {
              margin-bottom: 3px;
              font-weight: bold;
              .doTuoi {
                background-color: green;
                padding: 5px 15px;
                color: $color-white;
                border-radius: 8px;
                margin-right: 10px;
              }
            }
            span {
              color: $color-boxShawdom;
              font-size: 12px;
              font-weight: bold;
            }
          }
        }
        h4 {
          padding-left: 5px;
          padding-top: 10px;
          font-size: 16px;
          font-weight: bold;
        }
        .thoiGianChieu {
          border: 1px solid #dee2e6;
          width: 100%;
          text-align: center;
          border-radius: 8px;
          background-color: rgba(238, 235, 235, 0.438);
          padding: 5px;
          &:hover {
            .time__end {
              color: #fa5339;
              opacity: 1;
            }
            cursor: pointer;
          }
          p {
            margin: 0;
            color: rgba(128, 128, 128, 0.61);
            font-weight: bold;
            span {
              font-size: 17px;
              color: rgb(6, 156, 6);
            }
            .time__end {
              margin-left: 4px;
              font-size: 14px;
              color: #000;
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}
